
.video-section .item {
    opacity: 0.4;
    transition: .4s ease all;
    margin: 0 20px;
    transform: scale(.8);
}

.video-section .active .item {
    opacity: 1;
    transform: scale(1);
}

.video-section .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.video-section video {
    max-width: 100%;
    height: auto;
}

.wpn-video-car .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.wpn-video-car .owl-nav button.owl-next,
.wpn-video-car .owl-nav button.owl-prev,
.wpn-video-car button.owl-dot {
    background: 0 0;
    color: rebeccapurple;
    border: none;
    padding: 0 !important;
    font: inherit;
}
.wpn-video-car .owl-dots .owl-dot.active span,
.wpn-video-car .owl-dots .owl-dot:hover span {
    background: #869791;
}
.wpn-video-car .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.wpn-video-car .owl-dots{
    text-align: center;
    margin-top: 40px;
}